tr {
  color: #23272A; }

body {
  color: white;
  background-color: #23272A; }
  body .icon {
    color: white !important; }
  body .container {
    width: 100%; }
    body .container nav {
      width: 20%;
      max-width: 250px;
      float: left;
      border-right: #2C2F33 1px solid;
      height: 800px; }
      body .container nav .first-item {
        margin-top: 10px; }
      body .container nav .nav-group-item {
        color: white; }
      body .container nav .active {
        background-color: #2C2F33; }
    body .container .new-set {
      margin-top: -40px;
      margin-bottom: 20px; }
    body .container .tab-info {
      margin-left: 40px;
      width: 78%;
      float: left;
      height: 800px;
      width: 1000px; }
      body .container .tab-info #notification {
        color: #ffb643;
        opacity: 0;
        float: left;
        margin-left: 10px; }
      body .container .tab-info .fade {
        animation-name: fade-in, fade-out;
        animation-duration: 1s, 1s;
        animation-delay: 1s, 3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out, ease-in; }
      body .container .tab-info .btn-group {
        margin-top: 10px;
        margin-bottom: 20px; }
        body .container .tab-info .btn-group button {
          background-color: #517bff;
          color: white;
          border-color: #2C2F33;
          background-image: none; }
        body .container .tab-info .btn-group button:hover {
          background-color: white;
          color: #517bff; }
          body .container .tab-info .btn-group button:hover .icon {
            color: #517bff !important; }
      body .container .tab-info form .center {
        justify-content: center; }
      body .container .tab-info form #tweet-buttons {
        width: 680px;
        margin-left: 110px;
        margin-bottom: 30px; }
      body .container .tab-info form #clip-set {
        margin-top: 30px !important; }
      body .container .tab-info form fieldset {
        margin-top: 60px;
        border-color: #2C2F33; }
        body .container .tab-info form fieldset legend span {
          margin: 0 10px; }
      body .container .tab-info form .bracket-group {
        width: 200px !important; }
        body .container .tab-info form .bracket-group input {
          float: left; }
      body .container .tab-info form .row {
        min-height: 45px;
        display: flex;
        align-items: center;
        width: 100%; }
        body .container .tab-info form .row label {
          margin: 0 10px 0 0;
          min-width: 100px; }
        body .container .tab-info form .row textarea,
        body .container .tab-info form .row input {
          margin: 0 10px 0 0;
          background-color: #2C2F33;
          border-color: #2C2F33; }
        body .container .tab-info form .row input[type=checkbox] {
          margin: 0 10px;
          width: 20px;
          background-color: #2C2F33;
          border-color: #2C2F33; }
        body .container .tab-info form .row input[type=checkbox]:before {
          background-color: #2C2F33; }
        body .container .tab-info form .row input[type=checkbox]:focus {
          border-color: transparent;
          outline-color: transparent;
          box-shadow: none; }
        body .container .tab-info form .row input[type=number]::-webkit-inner-spin-button,
        body .container .tab-info form .row input[type=number]::-webkit-outer-spin-button {
          opacity: 1; }
        body .container .tab-info form .row input[type=search]::-webkit-search-cancel-button {
          -webkit-appearance: searchfield-cancel-button; }
        body .container .tab-info form .row input:focus {
          border-color: #4184e4;
          outline-color: #4184e4; }
        body .container .tab-info form .row .form-control:focus {
          box-shadow: 2px 2px 0 #4184e4, -2px -2px 0 #4184e4, -2px 2px 0 #4184e4, 2px -2px 0 #4184e4; }
        body .container .tab-info form .row select {
          background-color: #2C2F33;
          border-color: #2C2F33; }
        body .container .tab-info form .row textarea {
          height: 300px;
          width: 700px;
          margin-left: 110px;
          border-radius: 4px; }
        body .container .tab-info form .row #twitter-count {
          position: absolute;
          margin-left: 750px; }
        body .container .tab-info form .row #p1Name, body .container .tab-info form .row #p2Name, body .container .tab-info form .row #matcherino, body .container .tab-info form .row #bracket {
          width: 600px; }
        body .container .tab-info form .row #round {
          width: 200px; }
        body .container .tab-info form .row #p1Team, body .container .tab-info form .row #p2Team, body .container .tab-info form .row #p1Char, body .container .tab-info form .row #p2Char {
          width: 100px; }
        body .container .tab-info form .row #p1Char, body .container .tab-info form .row #p2Char {
          margin-right: 10px;
          height: 32px; }
        body .container .tab-info form .row #p1Score, body .container .tab-info form .row #p2Score {
          width: 80px; }
        body .container .tab-info form .row #game {
          width: 120px; }
        body .container .tab-info form .row #no-matcherino {
          margin-left: 110px;
          width: 15px; }
        body .container .tab-info form .row #com1Name, body .container .tab-info form .row #com2Name {
          width: 255px; }
        body .container .tab-info form .row button {
          margin-left: 10px;
          height: 40px;
          min-width: 70px;
          background-color: #517bff;
          color: white;
          background-image: none;
          border-color: #2C2F33; }
        body .container .tab-info form .row #newTournamentBtn {
          background-color: #ff6952; }
        body .container .tab-info form .row #newTournamentBtn:hover {
          background-color: white;
          color: #ff6952; }
        body .container .tab-info form .row #saveSetBtn {
          background-color: #00c46a; }
        body .container .tab-info form .row #saveSetBtn:hover {
          background-color: white;
          color: #00c46a; }
        body .container .tab-info form .row #new-set {
          width: 100px; }
        body .container .tab-info form .row .player-info {
          float: left; }
          body .container .tab-info form .row .player-info .header {
            font-size: 16px; }
        body .container .tab-info form .row #vs {
          float: left;
          min-height: 100px;
          font-weight: 700;
          text-align: center;
          margin-left: 20px;
          margin-right: 20px;
          line-height: 100px; }
        body .container .tab-info form .row #runback-result {
          color: #ffb643; }
        body .container .tab-info form .row button:hover {
          background-color: white;
          color: #517bff; }

.match-column {
  width: 280px;
  float: left;
  margin-left: 5px; }
  .match-column input {
    margin: 0 5px 5px 0;
    background-color: #2C2F33;
    border-color: #2C2F33; }
  .match-column input[type=number]::-webkit-inner-spin-button,
  .match-column input[type=number]::-webkit-outer-spin-button {
    opacity: 1; }
  .match-column input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button; }
  .match-column input:focus {
    border-color: #4184e4;
    outline-color: #4184e4; }
  .match-column .form-control:focus {
    box-shadow: 2px 2px 0 #4184e4, -2px -2px 0 #4184e4, -2px 2px 0 #4184e4, 2px -2px 0 #4184e4; }

.match-pair {
  width: 280px; }
  .match-pair p {
    text-align: center; }
  .match-pair .match-name {
    width: 200px; }
  .match-pair .match-score {
    width: 60px; }

.extra-margin {
  margin-top: 20px; }

.no-margin {
  margin-top: 0 !important; }

.center {
  justify-content: center; }

#copy {
  margin-left: 50px; }

.hide {
  display: none; }

.autocomplete {
  background: #2C2F33;
  border: 1px solid #444c56; }
  .autocomplete div {
    padding-left: 5px; }
  .autocomplete div:hover {
    background: black; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1.0; } }
@keyframes fade-out {
  from {
    opacity: 1.0; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=index.css.map */
