$row-height: 45px;
$border-color: #4184e4;
$secondary-boder-color: #444c56;
$input-background: #2C2F33;
$background-color: #23272A;
$foreground-color: white;
$accent-color: #517bff;
$message-color: #ffb643;

body {
  color: $foreground-color;
  background-color: $background-color;

  .icon {
    color: $foreground-color !important;
  }

  .container  {
    width: 100%;

    nav {
      width: 20%;
      max-width: 250px;
      float: left;
      border-right: $input-background 1px solid;
      height: 800px;

      .first-item {
        margin-top: 10px;
      }

      .nav-group-item {
        color: $foreground-color;
      }

      .active {
          background-color: $input-background;
      }
    }

    .tab-info {
      margin-left: 40px;
      width: 78%;
      float: left;
      height: 800px;
      width: 1000px;

      #notification {
        color: $message-color;
        opacity: 0;
        float: left;
        margin-left: 10px;
      }

      .fade {
        animation-name: fade-in, fade-out;
        animation-duration: 1s, 1s;
        animation-delay: 1s, 3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out, ease-in;
      }

      .btn-group {
        margin-top: 10px;
        margin-bottom: 20px;

        button {
          background-color: $accent-color;
          color: $foreground-color;
          border-color: $input-background;
          background-image: none;
        }

        button:hover {
          background-color: $foreground-color;
          color: $accent-color;

          .icon {
            color: $accent-color !important;
          }
        }
      }

      form {
        .center {
          justify-content: center;
        }

        #tweet-buttons {
          width: 680px;
          margin-left: 110px;
          margin-bottom: 30px;
        }

        fieldset {
          margin-top: 60px;
          border-color: $input-background;

          legend {
            span {
              margin: 0 10px;
            }
          }
        }

        .bracket-group {
          width: 200px !important;

          input {
            float: left;
          }
        }

        .row {
          min-height: $row-height;
          display: flex;
          align-items: center;
          width: 100%;

          label {
            margin: 0 10px 0 0;
            min-width: 100px;
          }

          textarea,
          input {
            margin: 0 10px 0 0;
            background-color: $input-background;
            border-color: $input-background;
          }

          input[type=checkbox] {
            margin: 0 10px;
            width: 20px;
            background-color: $input-background;
            border-color: $input-background;
          }

          input[type=checkbox]:before {
            background-color: $input-background;
          }

          input[type=checkbox]:focus {
            border-color: transparent;
            outline-color: transparent;
            box-shadow: none;
          }

          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            opacity: 1;
          }

          input[type=search]::-webkit-search-cancel-button {
            -webkit-appearance: searchfield-cancel-button;
          }

          input:focus {
            border-color: $border-color;
            outline-color: $border-color;
          }

          .form-control:focus {
            box-shadow: 2px 2px 0 $border-color, -2px -2px 0 $border-color, -2px 2px 0 $border-color, 2px -2px 0 $border-color;
          }

          select {
            background-color: $input-background;
            border-color: $input-background;
          }

          textarea {
            height: 300px;
            width: 700px;
            margin-left: 110px;
            border-radius: 4px;
          }

          #twitter-count {
            position: absolute;
            margin-left: 750px;
          }

          #p1Name, #p2Name, #matcherino, #bracket {
            width: 600px;
          }

          #round {
            width: 200px;
          }

          #p1Team, #p2Team, #p1Char, #p2Char {
            width: 100px;
          }

          #p1Char, #p2Char {
            margin-right: 10px;
            height: 32px;
          }

          #p1Score, #p2Score {
            width: 80px;
          }

          #game {
            width: 120px;
          }

          #no-matcherino {
            margin-left: 110px;
            width: 15px;
          }

          #com1Name, #com2Name {
            width: 255px;
          }

          button {
            margin-left: 10px;
            height: 40px;
            min-width: 70px;
            background-color: $accent-color;
            color: $foreground-color;
            background-image:none;
            border-color: $input-background;
          }

          button:hover {
            background-color: $foreground-color;
            color: $accent-color;
          }
        }
      }
    }
  }
}

// Match Pairs
.match-column {
  width: 280px;
  float: left;
  height: 1000px;
  margin-left: 5px;

  input {
    margin: 0 5px 5px 0;
    background-color: $input-background;
    border-color: $input-background;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
  }

  input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

  input:focus {
    border-color: $border-color;
    outline-color: $border-color;
  }

  .form-control:focus {
    box-shadow: 2px 2px 0 $border-color, -2px -2px 0 $border-color, -2px 2px 0 $border-color, 2px -2px 0 $border-color;
  }
}

.match-pair {
  width: 280px;

  p {
    text-align: center;
  }

  .match-name {
    width: 200px;
  }

  .match-score {
    width: 60px;
  }
}

.extra-margin {
  margin-top: 20px;
}

.no-margin {
  margin-top: 0 !important;
}

.center {
  justify-content: center;
}

#copy {
  margin-left: 50px;
}

.hide {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1.0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1.0;
  } to {
    opacity: 0;
  }
}
